In [28]:
import yfinance as yf
from datetime import datetime, timedelta

In [53]:
data = yf.download('AAPL', start="2025-02-01", end="2025-02-10")

[*********************100%***********************]  1 of 1 completed

In [42]:
data

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2025-02-03  227.759583  231.575395  225.452122  229.737419  73063300
2025-02-04  232.544327  232.873966  226.401072  227.000419  45067300
2025-02-05  232.214691  232.414468  228.019307  228.279016  39620300
2025-02-06  232.963867  233.543232  230.176923  231.035979  29925300
2025-02-07  227.380005  233.743004  227.010401  232.344548  39707200

In [54]:
data = data.droplevel("Ticker", axis=1)

In [55]:
data['Date'] = data.index

In [56]:
data

Price,Close,High,Low,Open,Volume,Date
Date,,,,,,
2025-02-03,227.759583,231.575395,225.452122,229.737419,73063300,2025-02-03
2025-02-04,232.544327,232.873966,226.401072,227.000419,45067300,2025-02-04
2025-02-05,232.214691,232.414468,228.019307,228.279016,39620300,2025-02-05
2025-02-06,232.963867,233.543232,230.176923,231.035979,29925300,2025-02-06
2025-02-07,227.380005,233.743004,227.010401,232.344548,39707200,2025-02-07

In [47]:
data.reset_index(drop=True, inplace=True)